@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Puddles&display=swap");

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: #ecf3ff;
  overflow: scroll;
}

.appbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: white;
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Rubik Puddles", cursive;
  font-size: 2rem;
  margin-left: 2rem;
  letter-spacing: 5px;
}

main {
  margin-top: 12vh;
  width: 100%;
  overflow: scroll;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.post-container {
  height: 20vh;
  width: 50vw;
  background: white;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-container__input {
  width: 80%;
  background: #ecf3ff;
  border-radius: 30px;
  height: 30%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-weight: 400;
  cursor: pointer;
}

.feed-card {
  width: 50vw;
  min-width: 300px;
  text-align: start;
  margin-top: 5vh;
  background: white;
  font-family: "Montserrat", sans-serif;
}

.feed-post {
  font-size: 0.8rem;
  padding: 2%;
}

.feed-card__header {
  padding: 2%;
  height: 5vh;
}

.feed-reaction {
  margin: 5vh 1vw;
  border-top: 1px solid grey;
  border-bottom: 1px solid gray;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feed-comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5vh;
}

.comment__input {
  width: 90%;
}
